@media screen and (max-width: 1200px) {
    #app {
        max-width: 100%;
    }

    div#content {
        max-width: 100%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 4000px) {
    #app {
        max-width: 80%;
    }

    div#content {
        max-width: 80%;
    }
}


#app h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 7rem;
}

#app {
    margin: auto;
    margin-top: 5%;
    font-family: monospace;
}


.numberinputs {
    font-size: 1.2rem;
    text-align: center;
}

input {
    font-size: 1rem;
}

.display {
    padding: 10px;
    margin: auto;
    max-width: 100%;
    text-align: center;
}


label {
    margin-right: 10px;
    font-size: 1.3rem;
}


#content {
    margin: auto;
}


button {
    font-size: 1rem;
    border-radius: 0.1rem;
    box-shadow: 1px 1px 2px darkgray;
}


#displays {
    border-style: solid;
    border-radius: 5px;
    max-width: 75%;
    margin: auto;
    font-size: 2rem;
}

#controls {
    max-width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

#numberControls {
    padding: 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
}

#numberControlsOptions {
    text-align: center;
}

#radioGroups {
    margin-top: 1rem;
}

#weekdayControls {
    padding: 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
}

#weekdayControlsOptions {
    text-align: center;
}

#timeControls {
    padding: 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
}

#timeControlOptions {
    text-align: center;
}

#numberTo {
    margin-top: 0.5rem;
}

#numberSystemChoices {
    margin-bottom: 0.5rem;
}