body {
    font-family: monospace;
    font-size: 30px;
}

body input {
    font-size: 30px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    text-align: center;
}

body button {
    font-size: 30px;
}

#app h1 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 80px;
}

#app {
    margin: auto;
    margin-top: 5%;
}


.display {
    padding: 10px;
    margin: auto;
    max-width: 100%;
    text-align: center;
}


#content {
    background-color: #c46275;
    margin: auto;
    border-radius: 20px;
    max-width: 1000px;
    width: 90%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}


button {
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    border-style: none;
}


#displays {
    font-size: 2.5rem;
    margin: 80px 60px 30px;
    border-radius: 15px;
    background-color: white;
}

#footer {
    margin-top: 3rem;
    text-align: center;
}

#footer a {
    color: black;
    text-decoration: none;
}


.controlsContainer {
    padding: 20px 40px 40px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.controlsContainer.selected {
    display: flex;
}


.controlsContainer button {
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 30px;
}

.controlsOptions {
    text-align: center;
}

.controlsOptions > * {
    margin-bottom: 10px;
}


.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.5rem;
}

.tabs .selected {
    background-color: #c46275;
    font-weight: bold;
}

.tabs div:not(.selected) {
    background-color: #C39FA6FF;
}

.tabs >* {
    height: 100%;
    flex:1;
    text-align: center;
    padding: 40px;
}

.tabs div:first-child {
    border-radius: 20px 0 0 0;
}

.tabs div:last-child {
    border-radius: 0 20px 0 0;
}

.radioGrid {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
}

.radioSelectionContainer {
    margin: 15px;
}

.radioSelectionContainer span {
    font-weight: bold;
}


.radioSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radioSelection > * {
    padding: 10px;
}

.tabs div.left-neighbour-selected {
    border-bottom-left-radius: 20px;
}

.tabs div.right-neighbour-selected {
    border-bottom-right-radius: 20px;
}

#hiddenDisplay span {
    border-radius: 10px;
}